@{
    ViewData["Title"] = "Home Page";
}
<div class="row">

</div>
<div class="row">
    <div class="col">
        <div class="flexbox-container">
            <div class="flexbox-item">
                This is going to be content.
            </div>
            <div class="flexbox-item">
                This is going to be content.
            </div>
            <div class="flexbox-item">
                This is going to be content.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" style="width:100%; font-size:2em; color:#f8898e;"><h1>This is Important Content Cause It's got a Big Heading</h1></div>
</div>
